
<div class="header-background"></div>

<header class="header">
    <h1 class="services">Геодезические услуги</h1>
    <span class="ooo">ООО "Геометрикс"</span>
    <p class="foundation">Основана в 2012 году</p>
    <img class="logo" src="assets/logo.png" alt="logo">
    <p class="phone">+79081903754</p>
    <p class="whatsapp">+79044478596<br>&nbsp;&nbsp;&nbsp;whatsapp</p>
</header>

<div class="hr"></div>

<!-- ------------------------------ -->

<main class="main">

<div class="top">
    <!-- <h1>top</h1> -->
    <img src="assets/top++.jpg" alt="header">
    <h3>Получите комплексный отчёт</h3>
    <h1>О ГЕОДЕЗИЧЕСКИХ ИЗЫСКАНИЯХ</h1>
</div>
<div class="promo">
    <h1>promo</h1>
</div>


<div class="consultation">
    <form method="GET" action="/api" class="form" id="form">
        <h1>Заполните форму</h1>
        <h4>чтобы получить бесплатную<br>
            консультацию специалиста</h4>
        <!-- <input type="hidden" name="login" id="login" value="test" /> -->
        <input type="text" placeholder="Ваше имя*" name="name" id="name" maxlength="100" />
        <input type="text" placeholder="Ваш телефон*" name="phone" id="phone" maxlength="100" />
        <input type="text" placeholder="Ваш Email" name="email" id="email" maxlength="100" />
        <button (click)="onClickForm()" class="btn" type="submit" id="submit">Получить консультацию</button>
    </form>
    <img class="instrument" src="assets/instrument.png" alt="instrument">

    <div class="fon" id="fon"></div>

</div>


<div class="about-photo">
    <p>Мы предлагаем:</p>
    <div class="container">
        <div class="card card1">
            <div class="face face1">
                <div class="content">
                    <img src="assets/about-photo-one.jpg" alt="one">
                    <h3>Топографическая съемка</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Топографическая съемка — наиболее востребованный вид геодезических работ. Потребность в ней возникает при обновлении топокарт, изысканиях, составлении генеральных планов и рабочих чертежей, а также при создании проектов ландшафтного дизайна и решении вопросов вертикальной планировки.</p>	
                </div>
            </div>
        </div>
        <div class="card card2">
            <div class="face face1">
                <div class="content">
                    <img src="assets/about-photo-two.jpg" alt="two">
                    <h3>Сопровождение строительства</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Геодезическое сопровождение строительства подразумевает под собой комплекс мероприятий по разбивке и контролю монтажа конструктивных элементов  на определенном строительном объекте. Наши сотрудники максимально полно и достоверно отобразят всю текущую ситуацию на строительном объекте.</p>	
                </div>
            </div>
        </div>
        <div class="card card3">
            <div class="face face1">
                <div class="content">
                    <img src="assets/about-photo-three.jpg" alt="three">
                    <h3>Наблюдение за осадками</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Наблюдения за деформациями или геодезический мониторинг зданий и сооружений  подразумевает своевременное отслеживание опасных величин деформаций и оползневых процессов, выявление причин их появления и прогнозирование дальнейшего развития процессов.</p>	
                </div>
            </div>
        </div>
    </div>
</div>


<div class="reason">
    <h1>Почему именно мы?</h1>
    <div class="reason-one">
        <h3>Почему мы?</h3>
        <p>Потому что</p>
    </div>
    <div class="reason-two">
        <h3>Почему мы?</h3>
        <p>Потому что</p>
    </div>
    <div class="reason-three">
        <h3>Почему мы?</h3>
        <p>Потому что</p>
    </div>
    <div class="reason-img-one">
        <img src="assets/reason-img-one.jpg" alt="reason-img-one">
    </div>
    <div class="reason-img-two">
        <img src="assets/reason-img-two.jpg" alt="reason-img-two">
    </div>
    <div class="reason-img-three">
        <img src="assets/reason-img-three.jpg" alt="reason-img-three">
    </div>
</div>

<div class="about-text">
<div class="box">
    <h1>Виды работ:</h1>
    <div class="about-text-one">
        <h3>Межевание</h3>
        <p>Комплекс мероприятий, который обеспечит быстрое, квалифицированное межевание земельного участка: уточнение границ, раздел, перераспределение, объединение, образование земельных участков. Опыт и профессиональные навыки наших специалистов гарантируют точность всех показателей.</p>
    </div>
    <div class="about-text-two">
        <h3>Топоплан</h3>
        <p>Топографическая съемка местности – комплекс мероприятий в составе инженерных изысканий, направленный на создание планов местности или топографических карт для дальнейшего их использования строителями, военными, туристами и т.д. Выполнение топографической съемки, как правило, осуществляется на месте и результатом этого вида деятельности является топоплан определенного масштаба.</p>
    </div>
    <div class="about-text-three">
        <h3>Сопровождение</h3>
        <p>Геодезическое сопровождение строительства подразумевает под собой комплекс мероприятий по разбивке и контролю монтажа конструктивных элементов  на определенном строительном объекте. «Геометрикс» предлагает вам комплексный подход к ее созданию. Все заботы о геодезии мы возьмем на себя!</p>
    </div>
</div>
</div>

<div class="why-are-we">
    <h1>why-are-we</h1>
</div>



<div class="scheme">
    <h1>scheme</h1>
</div>

<div class="reviews">
    <h1>reviews</h1>
</div>

<div class="map">
    <!-- <h1>map</h1> -->
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2277.71671512554!2d39.723912792176!3d47.24246509347906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3b9b3ff95edd7%3A0x3df435d2d9858d18!2z0YPQuy4g0J3QsNC90YHQtdC90LAsIDE0ONCQLCDQoNC-0YHRgtC-0LIt0L3QsC3QlNC-0L3Rgywg0KDQvtGB0YLQvtCy0YHQutCw0Y8g0L7QsdC7LiwgMzQ0MDM4!5e0!3m2!1sru!2sru!4v1609084672156!5m2!1sru!2sru" 
        frameborder="0" 
        style="border:0;" 
        allowfullscreen="" 
        aria-hidden="false" 
        tabindex="0">
    </iframe>
    
</div>

</main>

<!-- ------------------------------ -->

<footer class="footer">
    <!-- <h1>footer</h1> -->
    <div class="director">
        <p>Директор:</p>
        <h4>Кочкин Алексей Евгеньевич</h4>
        <br>
        <p>Юридический адрес:</p>
        <p>&nbsp;&nbsp;&nbsp;344010, РФ, РО, г.Ростов-на-Дону, </p>
        <p>&nbsp;&nbsp;&nbsp;ул.Нансена, д.148а, офис 109</p>
        <p>ОГРН: 1126194004100</p>
        <p>ИНН: 6168059100</p>
    </div>
    <div class="privacy">
        <a href="privacy">Политика конфиденциальности</a>
        <!-- <a routerLink="privacy" queryParams="d" fragment="politics" routerLinkActive="activebutton">Политика конфиденциальности</a> -->
    </div>
</footer>
