<header class="header">
    <h1>header</h1>
</header>
<!-- ------------------------------ -->
<main class="main">

<div class="top">
    <h1>top</h1>
</div>
<div class="promo">
    <h1>promo</h1>
</div>
<div class="about-photo">
    <h1>about-photo</h1>
</div>
<div class="about-text">
    <h1>about-text</h1>
</div>
<div class="reason">
    <h1>reason</h1>
</div>
<div class="why-are-we">
    <h1>why-are-we</h1>
</div>
<div class="form">
    <h1>form</h1>
</div>
<div class="scheme">
    <h1>scheme</h1>
</div>
<div class="reviews">
    <h1>reviews</h1>
</div>
<div class="map">
    <h1>map</h1>
</div>

</main>
<!-- ------------------------------ -->
<footer class="footer">
    <h1>footer</h1>
</footer>