$light-yellow: rgb(255,196,14);
$yellow: rgb(212,158,74);
$dark: rgb(47,69,91);
$white: white;
$height-header: 150px;
$height-footer: 200px;
$height-block: 800px;
$z-index-header: 10;

h1 {
    font-weight: 200;
}

.header, 
// .footer,
.main div { //:not(.consultation)
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header, .footer {
    background: $light-yellow;
    color: $white;
}
.header-background {
    position: fixed;
    top: 0;
    background: rgba(255,196,14,0.6);
    width: 100%;
    height: $height-header;
    z-index: $z-index-header;
}
.header {
    height: $height-header;
    .ooo {
        position: fixed;
        top: 10px;
        left: 25px;
        z-index: $z-index-header;
        font-size: large;
    }
    .logo {
        width: 100px;
        position: fixed;
        left: 50px;
        z-index: $z-index-header;
    }
    .foundation {
        position: fixed;
        top: 120px;
        left: 25px;
        z-index: $z-index-header;
    }
    .services {
        position: fixed;
        top: 50px;
        z-index: $z-index-header;
    }
    .phone {
        position: fixed;
        top: 20px;
        right: 50px;
        z-index: $z-index-header;
        font-size: 1.5rem;
    }
    .whatsapp {
        position: fixed;
        top: 80px;
        right: 50px;
        z-index: $z-index-header;
        font-size: 1.5rem;
    }
}
@media (max-width: 600px) {
    .header {
        img {
            left: 20px;
        }
        h1 {
            left:150px;
        }
    }
}
@media (max-width: 475px) {
    .header {
        img {
            left: 5px;
        }
        h1 {
            left:105px;
        }
    }
}
@media (max-width: 410px) {}

.hr {
    z-index: $z-index-header;
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid black;
    position: fixed;
    top: $height-header;
}


.main {
    min-height: calc(100vh - 200px);
}

.main div:not(.top):not(.map) {
    height: $height-block;
}

.top {
    overflow: hidden;
}


.top, .about-photo, .reason, .consultation, .map {
    background: $white;
}
.promo, .scheme {
    background: $light-yellow;
    color: $white;
}
.about-text, .reviews {
    background: $dark;
    color: $white;
}
.why-are-we {
    background: $yellow;
    color: $white;
}

.consultation {
    position: relative;
    .form {
        z-index: 1;
        position: absolute;
        // left: 200px;
        // top: 100px;
        background: rgba(158, 158, 158, 0.4);
        width: 300px;
        height: 450px;
        padding: 20px;
        h1, h4 {
            padding: 5px;
            margin: 5px 20px 0 20px;
        }
        input, button {
            padding: 20px;
            margin: 20px 20px 0 20px;
        }
        button {
        }
    }
    .instrument {
        // visibility: hidden;
        position: absolute;
        left: 50px;
        bottom: 0;
    }
}
@media (min-width: 1000px) {
    .consultation {
        .form {
            left: 600px;
            // top: 100px;
        }
        .instrument {
            // visibility: visible;
            position: absolute;
            left: 400px;
            // top: 100px;
        }
    }
}

.map iframe {
    width: 100%;
    height: 600px;
}



.footer {
    height: $height-footer;
    position: relative;
    width: 100%;
    .director {
        position: absolute;
        left: 20px;
        top: 10px;
        // padding: 10px;
    }
    .privacy {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}