
<div class="header-background"></div>

<header class="header">
    <h1>Геодезические услуги</h1>
    <h1 class="outline">Геодезические услуги</h1>
    <img src="assets/logo.png" alt="logo">
</header>

<div class="hr"></div>

<!-- ------------------------------ -->

<main class="main">

<div class="top">
    <!-- <h1>top</h1> -->
    <img src="assets/header.jpg" alt="header">
</div>
<div class="promo">
    <h1>promo</h1>
</div>
<div class="about-photo">
    <h1>about-photo</h1>
</div>
<div class="about-text">
    <h1>about-text</h1>
</div>
<div class="reason">
    <h1>reason</h1>
</div>
<div class="why-are-we">
    <h1>why-are-we</h1>
</div>

<div class="consultation">

    <form method="GET" action="/" class="form">

        <h1>Заполните форму</h1>

        <h4>чтобы получить бесплатную<br>
            консультацию специалиста</h4>

        <!-- <div class="input"> -->
            <input type="hidden" name="login" id="login" value="test" />

            <input type="text" placeholder="Ваше имя*" name="name" id="name" maxlength="100" />
            
            <input type="text" placeholder="Ваш телефон*" name="phone" id="phone" maxlength="100" />
            
            <input type="text" placeholder="Ваш Email" name="email" id="email" maxlength="100" />
                
            <button class="btn" type="submit">Получить консультацию</button>
        <!-- </div> -->

    </form>
    <img class="instrument" src="assets/instrument.png" alt="instrument">

</div>

<div class="scheme">
    <h1>scheme</h1>
</div>
<div class="reviews">
    <h1>reviews</h1>
</div>
<div class="map">
    <!-- <h1>map</h1> -->
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2277.71671512554!2d39.723912792176!3d47.24246509347906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3b9b3ff95edd7%3A0x3df435d2d9858d18!2z0YPQuy4g0J3QsNC90YHQtdC90LAsIDE0ONCQLCDQoNC-0YHRgtC-0LIt0L3QsC3QlNC-0L3Rgywg0KDQvtGB0YLQvtCy0YHQutCw0Y8g0L7QsdC7LiwgMzQ0MDM4!5e0!3m2!1sru!2sru!4v1609084672156!5m2!1sru!2sru" 
        frameborder="0" 
        style="border:0;" 
        allowfullscreen="" 
        aria-hidden="false" 
        tabindex="0">
    </iframe>
    
</div>

</main>

<!-- ------------------------------ -->

<footer class="footer">
    <!-- <h1>footer</h1> -->
    <div class="director">
        <!-- <p>Директор:</p>
        <h4>Кочкин Алексей Евгеньевич</h4>
        <br> -->
        <p>Юридический адрес:</p>
        <p>&nbsp;&nbsp;&nbsp;344010, РФ, РО, г.Ростов-на-Дону, </p>
        <p>&nbsp;&nbsp;&nbsp;ул.Нансена, д.148а, офис 109</p>
        <p>ОГРН: 1126194004100</p>
        <p>ИНН: 6168059100</p>
    </div>
    <div class="privacy">
        <a href="privacy">Политика конфиденциальности</a>
        <!-- <a routerLink="privacy" queryParams="d" fragment="politics" routerLinkActive="activebutton">Политика конфиденциальности</a> -->
    </div>
</footer>

<!-- <script src="./angular-ymaps.js"></script> -->