$light-yellow: rgb(255,196,14);
$yellow: rgb(212,158,74);
$dark: rgb(47,69,91);
$white: white;
$height-header: 150px;
$height-header-min: 100px;
$height-footer: 200px;
$height-block: 800px;
$z-index-header: 10;

h1 {
    font-weight: 200;
}

.header, .footer {
    background: $light-yellow;
    color: $white;
}
.header-background {
    position: fixed;
    top: 0;
    background: rgb(255,196,14);
    opacity: 1;
    width: 100%;
    height: $height-header;
    z-index: $z-index-header;
}
.hr {
    z-index: $z-index-header;
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid black;
    position: fixed;
    top: $height-header;
}
.header {
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    height: $height-header;
    .ooo {
        position: fixed;
        top: 10px;
        left: 25px;
        z-index: $z-index-header;
        font-size: large;
    }
    .logo {
        width: 100px;
        position: fixed;
        left: 50px;
        z-index: $z-index-header;
    }
    .foundation {
        position: fixed;
        top: 120px;
        left: 25px;
        z-index: $z-index-header;
    }
    .services {
        position: fixed;
        top: 50px;
        z-index: $z-index-header;
    }
    .phone, .whatsapp {
        position: fixed;
        right: 50px;
        z-index: $z-index-header;
        font-size: 1.5rem;
    }
    .phone {
        top: 20px;
    }
    .whatsapp {
        top: 90px;
    }
}
@media (max-width: 600px) {
    .header {
        .logo {
            left: 20px;
        }
        .services {
            left:150px;
        }        
    }
}
@media (max-width: 475px) {
    .header {
        .logo {
            left: 5px;
        }
        .services {
            display: none;
        }
    }
}
@media (max-width: 410px) {
    .header {
        .phone, .whatsapp {
            right: 10px;
            font-size: 1.2rem;
        }
    }
}
@media (max-height: 700px) {
    .header {
        .ooo, .foundation {
            display: none;
        }
        .services {
            top: 30px;
        }
        .phone {
            top: 10px;
        }
        .whatsapp {
            top: 45px;
        }        
        height: $height-header-min;
    }
    .header-background {
        height: $height-header-min;
    }
    .hr {
        top: $height-header-min;
    }
    @media (max-width: 700px) {
        .services {
            display: none;
        }
    }
}




//----------------------------------
// Привязка футера к подвалу :)
.main {
    min-height: calc(100vh - 350px);
}
//----------------------------------



// ------------------
// .top
// ------------------
.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;

    overflow: hidden;
    background: $white;
    
    position: relative;

    h3 {
        padding: 0 15px;
        background: rgba(189, 189, 189, 0.3);
        color: rgb(0, 0, 0);
        position: absolute;
        top: 120px;
        // left: 10px;
        font-size: 2.5rem;
        border-radius: 10px;
        border: 2px solid;
        text-align: center;
        margin: 15px;
    }
    h1 {
        padding: 0 15px;
        background: rgba(129, 129, 129, 0.4);
        color: rgb(255, 255, 255);
        position: absolute;
        top: 500px;
        // left: 10px;
        font-size: 3rem;
        border-radius: 10px;
        border: 2px solid;
        text-align: center;
        margin: 15px;
    }
}
@media (max-width: 450px) {
    .top {
        // overflow:visible;
        height: 650px;
        h3 {
            top: 80px;
            font-size: 2rem;
        }
        h1 {
            top: 400px;
            font-size: 2rem;
        }
    }
}
//----------------------------------


// ------------------
// .promo
// ------------------
.promo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: $height-block;
    background: $light-yellow;
    color: $white;
    visibility: hidden;
    display: none;
}
//----------------------------------


// ------------------
// .about-photo
// ------------------
.about-photo {
    background: $white;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        position: absolute;
        top: 100px;
        font-size: 2rem;
    }
}
.about-photo .container {
    height: 600px;
    // background: rgba(236, 236, 236, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .card {
        position: relative;
        width: 300px;
        height: 200px;
        margin: 20px;
        .face {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: .5s;
        }
        .face.face1 {
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            transform-origin: bottom;
            h3 {
                text-align: center;
                font-size: 1.5em;
            }
        }
        .face.face2 {
            // background: rgba(255, 255, 255, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;            
            transform-origin: top;
            transform: translateY(100%) rotateX(90deg);
            .content p {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 1rem;
                padding: 10px;
                // width: 100%;
            }
        }
    }
    .card:hover .face.face1 {
        transform: translateY(-100%) rotateX(90deg);
    }
    .card:hover .face.face2 {	
        transform: translateY(0) rotateX(0deg);
    }
}
@media (max-width: 1000px) {
    .card3 {
        visibility: hidden;
        display: none;
    }
    .about-photo {
        .container {
            height: 500px;
        }
        p {
            top: 50px;
        }
    }
}
@media (max-width: 700px) {
    .card2 {
        visibility: hidden;
        display: none;
    }
    .about-photo {
        .container {
            height: 400px;
        }
        p {
            top: 25px;
        }
    }
}
//----------------------------------


// ------------------
// .about-text
// ------------------
.about-text {
    // width: 100%;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;

    // height: $height-block;
    height: 600px;
    background: $dark;
    color: $white;
    
    position: relative;
    h1 {
        position: absolute;
        top: 50px;
        // left: 50%;
    }

    h3 {
        text-align: center;
    }

    p {
        padding: 20px;
    }
}
@media (max-width: 700px) {
    .about-text-three {
        display: none;
    }
}
@media (max-width: 500px) {
    .about-text-two {
        display: none;
    }
}
//----------------------------------


// ------------------
// .reason
// ------------------
.reason {
    // width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    // height: $height-block;
    height: 400px;
    background: $white;

    visibility: hidden;
    display: none;
}
//----------------------------------


// ------------------
// .why-are-we
// ------------------
.why-are-we {
    // width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    // height: $height-block;
    height: 400px;
    background: $yellow;
    color: $white;

    visibility: hidden;
    display: none;
}
//----------------------------------


// ------------------
// .consultation
// ------------------
.consultation {
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    // background: $white;
    background: $light-yellow;
    // height: $height-block;
    height: 600px;
    position: relative;
    .form {
        z-index: 1;
        position: absolute;
        // left: 200px;
        // top: 100px;
        background: rgba(158, 158, 158, 0.6);
        width: 300px;
        height: 450px;
        padding: 20px;
        h1, h4 {
            padding: 5px;
            margin: 5px 20px 0 20px;
        }
        input, button {
            padding: 20px;
            margin: 20px 20px 0 20px;
        }
        button {
        }
    }
    .instrument {
        // visibility: hidden;
        position: absolute;
        left: 50px;
        bottom: 0;
    }
    .fon {
        z-index: 1000;
        background: white;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        visibility: hidden;
    }
}
@media (min-width: 1000px) {
    .consultation {
        .form {
            left: 600px;
            // top: 100px;
        }
        .instrument {
            // visibility: visible;
            position: absolute;
            left: 400px;
            // top: 100px;
        }
    }
}
@media (max-width: 400px) {
    .consultation {
        .form {
            width: 250px;
            input, button {
                padding: 15px;
                margin: 15px 15px 0 15px;
            }
        }
    }
}
//----------------------------------


// ------------------
// .scheme
// ------------------
.scheme {
    // width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    // height: $height-block;
    height: 400px;
    background: $light-yellow;
    color: $white;

    visibility: hidden;
    display: none;
}
//----------------------------------


// ------------------
// .reviews
// ------------------
.reviews {
    // width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    // height: $height-block;
    height: 400px;
    background: $dark;
    color: $white;
    
    visibility: hidden;
    display: none;
}
//----------------------------------


// ------------------
// .map
// ------------------
.map {
    background: $white;
    iframe {
        width: 100%;
        height: 600px;
    }
}
//----------------------------------



.footer {
    height: $height-footer;
    position: relative;
    width: 100%;
    .director {
        position: absolute;
        left: 20px;
        top: 10px;
        // padding: 10px;
    }
    .privacy {
        position: absolute;
        bottom: 15px;
        right: 20px;
    }
}