SetEnv GHOST_NODE_VERSION_CHECK false
PassengerStartupFile index.js
PassengerResolveSymlinksInDocumentRoot on
Require all granted
PassengerAppType node
PassengerAppRoot /home/a0500365/domains/a0500365.xsph.ru/public_html
Options -MultiViews